@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    h1, .h1{
        @apply text-4xl md:text-5xl lg2:text-6xl font-extrabold uppercase tracking-wider xl:tracking-widest;
    }

    h2, .h2{
        @apply text-3xl md:text-4xl font-bold uppercase tracking-wider;
    }

    h3, .h3{
        @apply text-2xl md:text-3xl font-bold;
    }

    h4, .h4{
        @apply text-xl md:text-2xl font-bold;
    }

    h5, .h5{
        @apply text-lg md:text-xl font-bold;
    }

    .hover-translate{
        @apply transform hover:-translate-y-1 duration-500;
    }

    .hover-translate-2{
        @apply transform hover:-translate-y-2 duration-500;
    }

    .container{
        @apply max-w-screen-xl m-auto px-4 py-6 2xs:px-6 2xs:py-8 md:px-8 md:py-12 lg:px-12 lg:py-16;
    }

    .container-xs{
        @apply px-0 xs:px-6 md:px-8 lg:px-12;
    }

    .container-wave{
        @apply relative -top-15 h-15;
    }

    .container-h1{
        @apply block xs2:inline-block mb-3;
    }

    .container-h2{
        @apply w-max mb-10;
    }

    .container-h2-xs{
        @apply px-4 2xs:px-6 xs:px-0;
    }

    .container-h2 > h2{
        @apply pb-2;
    }

    .container-h2 > hr{
        @apply w-1/2 border-2;
    }

    .container-social > a > i{
        @apply text-3xl mr-2 text-gray-300;
    }

    .container-social > a:last-child > i{
        @apply mr-0;
    }

    .container-social > a:hover > i{
        @apply text-white;
    }

    .container-exp,
    .container-edu{
        @apply px-3 xs:px-0;
    }

    .container-exp .list-exp{
        @apply bg-gray-600 p-4 sm:p-7 lg:p-9 rounded-xl xs:rounded-3xl hover-translate-2;
    }

    .container-exp .list-exp .exp-sect{
        @apply flex;
    }

    .container-exp .exp-img{
        @apply mr-4 sm:mr-0 w-1/4 xs:w-1/5 md:w-1/6;
    }

    .container-exp .exp-img > a > div,
    .container-edu .edu-img > a > div{
        @apply bg-white rounded-lg sm:rounded-2xl hover:opacity-90 duration-500;
    }

    .container-exp .exp-img > a > div > img{
        @apply p-3/20;
    }

    .container-exp .exp-content{
        @apply w-full sm:w-4/5 w-4/5 md:w-5/6 ml-0 sm:ml-8 lg:ml-10;
    }

    .container-exp .exp-content > .exp-heading{
        @apply mb-8;
    }

    .container-exp .exp-content .exp-heading .exp-title{
        @apply block md2:flex md2:justify-between md2:items-center;
    }

    .container-exp .exp-content > .exp-timeline{
        @apply py-6;
    }

    .container-exp .exp-content > .exp-timeline:last-child{
        @apply pb-0;
    }

    .container-exp .list-exp .exp-desc{
        @apply text-justify;
    }

    .container-exp .list-exp .exp-desc ul{
        @apply list-disc ml-4;
    }

    .container-edu .list-edu{
        @apply bg-gray-400 p-4 sm:p-7 lg:p-9 rounded-xl xs:rounded-3xl flex items-center hover-translate-2;
    }

    .container-edu .edu-img{
        @apply w-1/4 xs:w-1/6 md:w-1/8;
    }

    .container-edu .edu-img > a > div > img{
        @apply p-1/10;
    }

    .container-edu .edu-content{
        @apply ml-4 sm:ml-6 lg:ml-8 w-3/4 xs:w-5/6 md:w-7/8;
    }

    .container-edu .edu-content > div{
        @apply md:flex md:justify-between md:items-center;
    }

    .container-skills > div{
        @apply mt-8;
    }

    .container-skills > div:first-child{
        @apply mt-0;
    }

    .btn{
        @apply border-2 rounded-2xl w-max px-6 py-2 cursor-pointer duration-500;
    }

    .btn-primary{
        @apply bg-gray-800 border-gray-800 text-white transition duration-500 hover-translate hover:bg-gray-1000 hover:border-gray-1000;
    }

    .btn > a {
        @apply text-lg;
    }

    .section-light{
        @apply bg-gray-300 text-black w-full;
    }

    .section-light .container-h2 > hr{
        @apply bg-black border-black;
    }

    .section-dark{
        @apply bg-gray-800 text-white w-full;
    }

    .section-dark .container-h2 > hr{
        @apply bg-white border-white;
    }

    nav ul > li > a:hover{
        @apply text-white;
    }

    #hamburger{
        @apply  block w-8 relative transform rotate-0 h-5;
    }

    #hamburger > span{
        @apply block absolute opacity-100 left-0 transform rotate-0 duration-500 ease-in-out;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;

        width: 100%;
        height: 2.5px;
        border-radius: 4px;
        background: white;
    }

    #hamburger > span:nth-child(1){
        top: 0px;
    }

    #hamburger > span:nth-child(2){
        top: 9px;
    }

    #hamburger > span:nth-child(3){
        top: 18px;
    }

    #hamburger.expand{
        margin-left: 20%;
    }

    #hamburger.expand > span:nth-child(1){
        @apply transform rotate-45;
    }

    #hamburger.expand > span:nth-child(2){
        @apply w-0 opacity-0;
    }

    #hamburger.expand > span:nth-child(3){
        @apply transform -rotate-45;
    }

    .desktop-nav > ul > li{
        @apply inline ml-8;
    }

    .desktop-nav > ul > li:first-child{
        @apply ml-0;
    }

    .mobile-nav > ul > li{
        @apply px-5 pb-3;
    }

    .tags{
        @apply mt-2;
    }

    .tags > li{
        @apply inline-block px-6 py-1 bg-gray-600 text-white mr-1 md:mr-2 my-2 rounded-3xl duration-500 cursor-pointer hover-translate;
    }

    #Home{
        height: 660px;
    }

    @media (max-width: 639px){
        #Home{
            @apply h-auto;
        }

        .container-wave{
            @apply static top-0;
        }
    }
}

*{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

@media (max-width: 360px){
    *{
        font-size: 14px;
    }
}

html{
    scroll-behavior: smooth;
}

section{
    scroll-margin-top: 72px;
}

/* animate-blink animation */

@keyframes blink {
    50% {
      opacity: 0;
    }
}

@-webkit-keyframes blink {
    50% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    50% {
        opacity: 0;
    }
}

@-o-keyframes blink {
    50% {
        opacity: 0;
    }
}

.animate-blink {
    animation: blink 2s step-start 0s infinite;
    -webkit-animation: blink 2s step-start 0s infinite;
    -moz-animation: blink 2s step-start 0s infinite;
    -o-animation: blink 2s step-start 0s infinite;
}
